.badge {
  display: inline-block;
  padding: 4px 8px;
  background: #222;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid black;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  font-family: 'Press Start 2P', monospace;
}
