/* Font loading optimized in HTML head with preload */

:root {
  --box-shadow-width: 4px;
  --pixel-box-shadow:
    calc(-1 * (var(--box-shadow-width))) 0 0 0 black,
    var(--box-shadow-width) 0 0 0 black, 0 var(--box-shadow-width) 0 0 black,
    0 calc(-1 * (var(--box-shadow-width))) 0 0 black;
  --pixel-box-shadow-destructive:
    calc(-1 * (var(--box-shadow-width))) 0 0 0 var(--destructive),
    var(--box-shadow-width) 0 0 0 var(--destructive),
    0 var(--box-shadow-width) 0 0 var(--destructive),
    0 calc(-1 * (var(--box-shadow-width))) 0 0 var(--destructive);
  --default-inner-border-color: rgb(200, 200, 200);
}

.dark {
  --pixel-box-shadow:
    calc(-1 * (var(--box-shadow-width))) 0 0 0 oklch(0.8 0 0),
    var(--box-shadow-width) 0 0 0 oklch(0.8 0 0),
    0 var(--box-shadow-width) 0 0 oklch(0.8 0 0),
    0 calc(-1 * (var(--box-shadow-width))) 0 0 oklch(0.8 0 0);
}

.pixel-font {
  font-family:
    'Press Start 2P',
    'Courier New',
    'Courier',
    monospace;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-display: swap;
}

.box-shadow-margin {
  margin: var(--box-shadow-width);
}
